<div class="row">
    <div class="basic-info">
        <!-- app-avatar
            [name]="user.name"
            [photo]="user.avatar"
            class="avatar"
        ></app-avatar -->

        <span class="name">Rui Miguel</span>
    </div>

    <div class="role">
        <mat-icon>admin_panel_settings</mat-icon>
        administrador
    </div>

    <div class="email">
        <mat-icon>email</mat-icon>
        ruimiguel@hotmail.com
    </div>

    <ng-template>
        <div class="actions">
            <button mat-icon-button color="primary">
                <mat-icon>visibility</mat-icon>
            </button>
            <ng-template [canView]="[1]">
                <button
                    mat-icon-button
                    color="warn"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </ng-template>
        </div>
    </ng-template>
</div>
