<h1 class="titulo"> Todos os Produtos </h1>

<div class="add">
    <button class="botao" routerLink="/admin/add-product">
        + Novo
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Código do Produto</th>
            <th>Nome </th>
            <th>Id da Categoria</th>
            <th>Nome da Categoria</th>
            <th>Editar/Eliminar</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td data-label="Name">
                <a 
                  mat-list-item
                  routerLinkActive="active-menu"
                  routerLink="/admin/information-product">
                  81272183
                </a>
            </td>
            <td data-label="Age"> Hamburger Las Vegas</td>
            <td data-label="Marks%"> 1 </td>
            <td data-label="Staus"> Hamburguer</td>
            <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir" ><mat-icon>delete</mat-icon></button>
            </td>
        </tr>

        <tr>
            
            
        <tr>
            <td data-label="Name">
                <a 
                  mat-list-item
                  routerLinkActive="active-menu"
                  routerLink="/admin/information-product">
                  81272183
                </a>
            </td>
            <td data-label="Age"> Hamburger Las Vegas</td>
            <td data-label="Marks%"> 1 </td>
            <td data-label="Staus"> Hamburguer</td>
            <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
            </td>
        </tr>

        <tr>
            <td data-label="Name">
                <a 
                  mat-list-item
                  routerLinkActive="active-menu"
                  routerLink="/admin/information-product">
                  81272183
                </a>
            </td>
            <td data-label="Age"> Hamburger Las Vegas</td>
            <td data-label="Marks%"> 1 </td>
            <td data-label="Staus"> Hamburguer</td>
            <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
            </td>
        </tr>

        <tr>
            <td data-label="Name">
                <a 
                  mat-list-item
                  routerLinkActive="active-menu"
                  routerLink="/admin/information-product">
                  81272183
                </a>
            </td>
            <td data-label="Age"> Hamburger Las Vegas</td>
            <td data-label="Marks%"> 1 </td>
            <td data-label="Staus"> Hamburguer</td>
            <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
            </td>
        </tr>

        <tr>
            <td data-label="Name">
                <a 
                  mat-list-item
                  routerLinkActive="active-menu"
                  routerLink="/admin/information-product">
                  81272183
                </a>
            </td>
            <td data-label="Age"> Hamburger Las Vegas</td>
            <td data-label="Marks%"> 1 </td>
            <td data-label="Staus"> Hamburguer</td>
            <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
            </td>
        </tr>

        <tr>
            <td data-label="Name">
                <a 
                  mat-list-item
                  routerLinkActive="active-menu"
                  routerLink="/admin/information-product">
                  81272183
                </a>
            </td>
            <td data-label="Age"> Hamburger Las Vegas</td>
            <td data-label="Marks%"> 1 </td>
            <td data-label="Staus"> Hamburguer</td>
            <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
            </td>
        </tr>
    </tbody>
  </table>