<div class="body">  
   <form class="root-change">
    <img src="../../assets/logo.png" alt="" style="margin: 20px; display: block;"  height="220">

        <h1>Alterar Password</h1>

        <mat-form-field>
            <mat-label>Nova Password</mat-label>
            <input
                matInput
                [type]="hide ? 'password' : 'text'"
                name="password"
                formControlName="password"
            />
            <mat-icon class="hide-btn" (click)="hide = !hide" matSuffix>{{
                hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-icon matPrefix>vpn_key</mat-icon>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirmação Password</mat-label>
            <input
                matInput
                [type]="hide ? 'password' : 'text'"
                name="confirmPassword"
                formControlName="confirmPassword"
            />
            <mat-icon matPrefix>vpn_key</mat-icon>

        </mat-form-field>

        <button
            mat-raised-button
            color="primary"
            type="submit"
        >
            Alterar Password
        </button>

        <a routerLink="/" mat-button class="login-btn">
            Iniciar Sessão
            <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
        </a>
    </form>

    <div class="background">  
    </div>
</div>
