

<h1 class="titulo"> Todos os Pedidos </h1>

<table class="table">
    <thead>
        <tr>
            <th>Código do Pedido</th>
            <th>Data do Pedido </th>
            <th>Cliente</th>
            <th>Valor</th>
            <th>Situação</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td data-label="Name">
                <a 
                  mat-list-item
                  routerLinkActive="active-menu"
                  routerLink="/admin/order-information">
                  81272183
                </a>
            </td>
            <td data-label="Age"> 2 minutos atrás</td>
            <td data-label="Marks%"> Lucas Neto </td>
            <td data-label="Staus"> 25.00€ </td>
            <td data-label="Staus"> Pedido Realizado </td>
        </tr>

        <tr>
            
            
        <tr>
          <td data-label="Name">
              <a 
                mat-list-item
                routerLinkActive="active-menu"
                routerLink="/admin/order-information">
                81272183
              </a>
          </td>
          <td data-label="Age"> 30 minutos atrás</td>
          <td data-label="Marks%"> Lucas Neto </td>
          <td data-label="Staus"> 25.00€ </td>
          <td data-label="Staus"> Pedido entregue </td>
        </tr>

        <tr>
          <td data-label="Name">
            <a 
              mat-list-item
              routerLinkActive="active-menu"
              routerLink="/admin/order-information">
              81272183
            </a>
          </td>
          <td data-label="Age"> 30 minutos atrás</td>
          <td data-label="Marks%"> Lucas Neto </td>
          <td data-label="Staus"> 25.00€ </td>
          <td data-label="Staus"> Pedido entregue </td>
        </tr>

        <tr>
          <td data-label="Name">
            <a 
              mat-list-item
              routerLinkActive="active-menu"
              routerLink="/admin/order-information">
              81272183
            </a>
          </td>
          <td data-label="Age"> 30 minutos atrás</td>
          <td data-label="Marks%"> Lucas Neto </td>
          <td data-label="Staus"> 25.00€ </td>
          <td data-label="Staus"> Pedido entregue </td>
        </tr>

        <tr>
          <td data-label="Name">
            <a 
              mat-list-item
              routerLinkActive="active-menu"
              routerLink="/admin/order-information">
              81272183
            </a>
          </td>
          <td data-label="Age"> 30 minutos atrás</td>
          <td data-label="Marks%"> Lucas Neto </td>
          <td data-label="Staus"> 25.00€ </td>
          <td data-label="Staus"> Pedido entregue </td>
        </tr>

        <tr>
          <td data-label="Name">
            <a 
              mat-list-item
              routerLinkActive="active-menu"
              routerLink="/admin/order-information">
              81272183
            </a>
          </td>
          <td data-label="Age"> 30 minutos atrás</td>
          <td data-label="Marks%"> Lucas Neto </td>
          <td data-label="Staus"> 25.00€ </td>
          <td data-label="Staus"> Pedido entregue </td>
        </tr>

        <tr>
          <td data-label="Name">
            <a 
              mat-list-item
              routerLinkActive="active-menu"
              routerLink="/admin/order-information">
              81272183
            </a>
          </td>
          <td data-label="Age"> 30 minutos atrás</td>
          <td data-label="Marks%"> Lucas Neto </td>
          <td data-label="Staus"> 25.00€ </td>
          <td data-label="Staus"> Pedido entregue </td>
        </tr>
    </tbody>
  </table>
