<div fxLayout="row" fxLayoutAlign="center start" ngClass.gt-sm="padding" class="mat-typography">
    <div fxLayout="column" fxFlex="85" fxFlex.lt-md="100" fxLayoutGap="15px">
  
      <div ngClass.lt-md="padding no-padding-bottom">      
        <!-- BACK AND TITLE START -->
        <div fxLayoutAlign="space-between start" fxLayout="row" style="margin-left: 2%; margin-top: 20px;">
          <h3 fxLayout="row" fxLayoutAlign="start center" class="no-margin-bottom">
            <button mat-icon-button><mat-icon>label</mat-icon></button> Categorias

            <button mat-fab routerLink="/admin/category/new" matTooltip="Novo" style="float: right; margin-right: 5%; background-color:#fff;"><mat-icon>add</mat-icon></button>
          </h3>
          
          
        </div>
        <!--BACK AND TITLE END -->
      </div>
  
      <!-- LIST START -->
      <div style="margin-top: 20px;">
        <div style="display: flex;">
          <table class="table">
            <thead>
                <tr>
                    <th><mat-checkbox > </mat-checkbox></th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Editar/Eliminar</th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td data-label="checkbox"> <mat-checkbox > </mat-checkbox> </td>
                    <td data-label="Marks%">
                      2312367864182
                    </td>
                    <td data-label="nome">
                        Hamburger
                    </td>
                    <td data-label="Staus"> 
                      Hamburger delicioso, muito grande e economico.
                    </td>
                    <td data-label="Staus"> 
                      <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                      &nbsp;
                      <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
        
                <tr>
                  <td data-label="checkbox"> <mat-checkbox > </mat-checkbox> </td>
                  <td data-label="Marks%">
                    2312367864182
                  </td>
                  <td data-label="nome">
                      Hamburger
                  </td>
                  <td data-label="Staus"> 
                    Hamburger delicioso, muito grande e economico.
                  </td>
                  <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
                  </td>
                </tr>
        
                <tr>
                  <td data-label="checkbox"> <mat-checkbox > </mat-checkbox> </td>
                  <td data-label="Marks%">
                    2312367864182
                  </td>
                  <td data-label="nome">
                      Hamburger
                  </td>
                  <td data-label="Staus"> 
                    Hamburger delicioso, muito grande e economico.
                  </td>
                  <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
                  </td>
                </tr>

                <tr>
                  <td data-label="checkbox"> <mat-checkbox > </mat-checkbox> </td>
                  <td data-label="Marks%">
                    2312367864182
                  </td>
                  <td data-label="nome">
                      Hamburger
                  </td>
                  <td data-label="Staus"> 
                    Hamburger delicioso, muito grande e economico.
                  </td>
                  <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
                  </td>
                </tr>

                <tr>
                  <td data-label="checkbox"> <mat-checkbox > </mat-checkbox> </td>
                  <td data-label="Marks%">
                    2312367864182
                  </td>
                  <td data-label="nome">
                      Hamburger
                  </td>
                  <td data-label="Staus"> 
                    Hamburger delicioso, muito grande e economico.
                  </td>
                  <td data-label="Staus"> 
                    <button mat-icon-button  matTooltip="Editar" routerLink="/admin/information-product"><mat-icon>edit</mat-icon> </button>
                    &nbsp;
                    <button mat-icon-button  matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
                  </td>
                </tr>

            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  </div>
  
  
  