
.background{ 
    display: flex; 
    flex: 0 1 65vw;
    flex-direction: column;
    height: 100vh;
    background-image: url(../../assets/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.root-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    margin: 0 25px;
    float: left;
    height: 100vh;
}

.fields{
    flex: 0 1 35vw;
    padding: 0 2em;
    box-sizing: border-box;
}
   
h1{
    text-align: center;
    font-size: 2em;
}


.root-reset > * + * {
    margin-top: 10px;
}

.root-reset > * {
    width: 100%;
}

.root-reset > button{
    margin-top: 20px;
    border-radius: 0;
    text-transform: none;
    font-weight: 300;
}

mat-form-field 
    mat-icon[matprefix] {
        margin-right: 10px;
    }

.login-btn{
    width: auto;
    align-self: flex-end;
    margin-top: 5px;
    font-weight: 400;
}

.title{
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 2em;
}
