<div class="body">
    <form class="root-reset" #form='ngForm' action="index.html" (submit)="forgetpassword()">
        <img src="../../assets/logo.png" alt="" style="margin: 20px; display: block;" height="220">

        <h1>Recuperação Password</h1>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name="email" placeholder="Email" [(ngModel)]="model.email" />
            <mat-icon matPrefix>account_circle</mat-icon>

        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" value="forgetpassword">
            Recuperação de Password
        </button>

        <a routerLink="/" mat-button class="login-btn">
            Iniciar Sessão
            <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
        </a>
    </form>

    <div class="background"> </div>
</div>